/venv/
/credentials/
/Nebula.egg-info/
/.nebula-history-file
/100_percent_done
/__pycache__/
/teamserver/core/module/cleanup/__pycache__/
/teamserver/core/module/detection/__pycache__/
/teamserver/core/module/detectionbypass/__pycache__/
/teamserver/core/module/enum/__pycache__/
/teamserver/core/module/exploit/__pycache__/
/teamserver/core/module/lateralmovement/__pycache__/
/teamserver/core/module/listeners/__pycache__/
/teamserver/core/module/persistence/__pycache__/
/teamserver/core/module/postexploitation/__pycache__/
/teamserver/core/module/privesc/__pycache__/
/teamserver/core/module/reconnaissance/__pycache__/
/teamserver/core/module/reconnaissance/__ip_source/__pycache__/
/teamserver/core/module/stager/__pycache__/
/teamserver/core/module/misc/__pycache__/
/teamserver/core/models/__pycache__/
/teamserver/core/run_module/__pycache__/
/teamserver/core/auth/__pycache__/
/teamserver/core/createSession/__pycache__/
/teamserver/core/enum_user_privs/__pycache__/
/teamserver/core/database/__pycache__/
/teamserver/core/module/listeners/__listeners/__pycache__/
/teamserver/core/__pycache__/
/teamserver/workspaces
/clientGUI/venv/
/client/venv/
/clientGUI/__pycache__/
/client/__pycache__/
/client/commands/__pycache__/
/client/core/__pycache__/
/client/help/__pycache__/
/client/.nebula-history-file
/clientGUI/.nebula-history-file
/todo.txt
/ToDo.txt
/Done.txt
