/venv/
/credentials/
/Nebula.egg-info/
/.nebula-history-file
/100_percent_done
/__pycache__/
/module/cleanup/__pycache__/
/module/detection/__pycache__/
/module/detectionbypass/__pycache__/
/module/enum/__pycache__/
/module/exploit/__pycache__/
/module/lateralmovement/__pycache__/
/module/listeners/__pycache__/
/module/persistence/__pycache__/
/module/postexploitation/__pycache__/
/module/privesc/__pycache__/
/module/reconnaissance/__pycache__/
/module/stager/__pycache__/
/workspaces