boto3~=1.17.105
botocore~=1.20.105
termcolor~=1.1.0
colored
colorama~=0.4.4
justify
justifytext~=0.2.1.post3
prompt_toolkit
pypager
nuitka
psutil~=5.8.0
pyinstaller~=4.3
Cython
crtsh~=0.3.1
scapy
moto[all]~=2.2.6
requests~=2.25.1
